// Vendor
@use "@/assets/scss/_functions.scss" as *;
@use "@/assets/scss/_variables.scss" as *;
@import "vendor/rfs";
@import "mixins/border-radius";

// Mobile-first responsive breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1600px,
) !default;

@mixin bp-sm-phone-landscape {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin bp-md-tablet {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin bp-lg-laptop {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin bp-xl-desktop {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin bp-xxl-desktop-large {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

// Custom sizes
@mixin bp-custom-min($min-width) {
  @media (min-width: ($min-width * 1px)) {
    @content;
  }
}

// Shadows
@mixin shadow-0() {
  box-shadow: none;
}
@mixin shadow-1() {
  box-shadow:
    0 rem(1) rem(3) rgba(0, 0, 0, 0.12),
    0 rem(1) rem(2) rgba(0, 0, 0, 0.24);
}
@mixin shadow-2() {
  box-shadow:
    0 rem(3) rem(6) rgba(0, 0, 0, 0.16),
    0 rem(3) rem(6) rgba(0, 0, 0, 0.23);
}
@mixin shadow-3() {
  box-shadow:
    0 rem(10) rem(20) rgba(0, 0, 0, 0.19),
    0 rem(6) rem(6) rgba(0, 0, 0, 0.23);
}
@mixin shadow-4() {
  box-shadow:
    0 rem(14) rem(28) rgba(0, 0, 0, 0.25),
    0 rem(10) rem(10) rgba(0, 0, 0, 0.22);
}
@mixin shadow-5() {
  box-shadow: 0 rem(30) rem(30) 0 rgba(0, 0, 0, 0.25);
}

// Mixins
@mixin hover() {
  &:hover {
    @content;
  }
}

// Transitions
@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: $transition-base;
  } @else {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// Buttons
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

// Validation
@mixin form-validation-state-selector($state) {
  @if ($state == "valid" or $state == "invalid") {
    $parent-selector: "";
    @if & {
      $parent-selector: "&";
    }
    .was-validated #{$parent-selector}:#{$state},
    #{$parent-selector}.is-#{$state} {
      @content;
    }
  } @else {
    $parent-selector: "";
    @if & {
      $parent-selector: "&";
    }
    #{$parent-selector}.is-#{$state} {
      @content;
    }
  }
}

@mixin form-validation-state(
  $state,
  $color,
  $icon,
  $tooltip-color: color-contrast($color),
  $tooltip-bg-color: rgba($color, $form-feedback-tooltip-opacity),
  $focus-box-shadow: 0 0 $input-btn-focus-blur $input-focus-width
    rgba($color, $input-btn-focus-color-opacity),
  $border-color: $color
) {
  .#{$state}-feedback {
    display: none;
    width: 100%;
    margin-top: $form-feedback-margin-top;
    @include font-size($form-feedback-font-size);
    color: $color;
  }

  .#{$state}-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%; // Contain to parent when possible
    padding: $form-feedback-tooltip-padding-y $form-feedback-tooltip-padding-x;
    margin-top: 0.1rem;
    @include font-size($form-feedback-tooltip-font-size);
    line-height: $form-feedback-tooltip-line-height;
    color: $tooltip-color;
    background-color: $tooltip-bg-color;
    @include border-radius($form-feedback-tooltip-border-radius);
  }

  @include form-validation-state-selector($state) {
    ~ .#{$state}-feedback,
    ~ .#{$state}-tooltip {
      display: block;
    }
  }

  .form-control {
    @include form-validation-state-selector($state) {
      border-color: $border-color;

      @if $enable-validation-icons {
        padding-right: $input-height-inner;
        background-image: escape-svg($icon);
        background-repeat: no-repeat;
        background-position: right $input-height-inner-quarter center;
        background-size: $input-height-inner-half $input-height-inner-half;
      }

      &:focus {
        border-color: $border-color;
        box-shadow: $focus-box-shadow;
      }
    }
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  textarea.form-control {
    @include form-validation-state-selector($state) {
      @if $enable-validation-icons {
        padding-right: $input-height-inner;
        background-position: top
          $input-height-inner-quarter
          right
          $input-height-inner-quarter;
      }
    }
  }

  .form-select {
    @include form-validation-state-selector($state) {
      border-color: $border-color;

      @if $enable-validation-icons {
        &:not([multiple]):not([size]),
        &:not([multiple])[size="1"] {
          --form-select-bg-icon: #{escape-svg($icon)};
          padding-right: $form-select-feedback-icon-padding-end;
          background-position:
            $form-select-bg-position, $form-select-feedback-icon-position;
          background-size:
            $form-select-bg-size, $form-select-feedback-icon-size;
        }
      }

      &:focus {
        border-color: $border-color;
        box-shadow: $focus-box-shadow;
      }
    }
  }

  .form-control-color {
    @include form-validation-state-selector($state) {
      @if $enable-validation-icons {
        width: add($form-color-width, $input-height-inner);
      }
    }
  }

  .form-check-input {
    @include form-validation-state-selector($state) {
      border-color: $border-color;

      &:checked {
        background-color: $color;
      }

      &:focus {
        box-shadow: $focus-box-shadow;
      }

      ~ .form-check-label {
        color: $color;
      }
    }
  }
  .form-check-inline .form-check-input {
    ~ .#{$state}-feedback {
      margin-left: 0.5em;
    }
  }

  .input-group {
    > .form-control:not(:focus),
    > .form-select:not(:focus),
    > .form-floating:not(:focus-within) {
      @include form-validation-state-selector($state) {
        @if $state == "valid" {
          z-index: 3;
        } @else if $state == "invalid" {
          z-index: 4;
        }
      }
    }
  }
}
