// Vendor
@use "@/assets/scss/_functions.scss" as *;
@import "vendor/rfs";
@import "mixins/border-radius";

// Mobile-first responsive breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1600px,
) !default;

@mixin bp-sm-phone-landscape {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin bp-md-tablet {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin bp-lg-laptop {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin bp-xl-desktop {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin bp-xxl-desktop-large {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

// Custom sizes
@mixin bp-custom-min($min-width) {
  @media (min-width: ($min-width * 1px)) {
    @content;
  }
}

// Shadows
@mixin shadow-0() {
  box-shadow: none;
}
@mixin shadow-1() {
  box-shadow:
    0 rem(1) rem(3) rgba(0, 0, 0, 0.12),
    0 rem(1) rem(2) rgba(0, 0, 0, 0.24);
}
@mixin shadow-2() {
  box-shadow:
    0 rem(3) rem(6) rgba(0, 0, 0, 0.16),
    0 rem(3) rem(6) rgba(0, 0, 0, 0.23);
}
@mixin shadow-3() {
  box-shadow:
    0 rem(10) rem(20) rgba(0, 0, 0, 0.19),
    0 rem(6) rem(6) rgba(0, 0, 0, 0.23);
}
@mixin shadow-4() {
  box-shadow:
    0 rem(14) rem(28) rgba(0, 0, 0, 0.25),
    0 rem(10) rem(10) rgba(0, 0, 0, 0.22);
}
@mixin shadow-5() {
  box-shadow: 0 rem(30) rem(30) 0 rgba(0, 0, 0, 0.25);
}

// Mixins
@mixin hover() {
  &:hover {
    @content;
  }
}

// Transitions
@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: $transition-base;
  } @else {
    transition: $transition;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// Buttons
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}
