:root {

  // Fonts

  // Note: Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-sans-serif: #{inspect($font-family-sans-serif)};
  --font-monospace: #{inspect($font-family-monospace)};
  // Root and body
  // scss-docs-start root-body-variables
  @if $font-size-root != null {
    --root-font-size: #{$font-size-root};
  }
  --body-font-family: #{inspect($font-family-base)};
  @include rfs($font-size-base, --body-font-size);
  --body-font-weight: #{$font-weight-base};
  --body-line-height: #{$line-height-base};
  @if $body-text-align != null {
    --body-text-align: #{$body-text-align};
  }

  --body-color: #{$body-color};
  --body-color-rgb: #{to-rgb($body-color)};
  --body-bg: #{$body-bg};
  --body-bg-rgb: #{to-rgb($body-bg)};

  --secondary-color: #{$body-secondary-color};
  --secondary-color-rgb: #{to-rgb($body-secondary-color)};
  --secondary-bg: #{$body-secondary-bg};
  --secondary-bg-rgb: #{to-rgb($body-secondary-bg)};

  --heading-color: #{$headings-color};

  --link-color: #{$link-color};
  --link-color-rgb: #{to-rgb($link-color)};
  --link-decoration: #{$link-decoration};

  --link-hover-color: #{$link-hover-color};
  --link-hover-color-rgb: #{to-rgb($link-hover-color)};

  @if $link-hover-decoration != null {
    --link-hover-decoration: #{$link-hover-decoration};
  }

  --code-color: #{$code-color};

  // scss-docs-start root-border-var
  --border-width: #{$border-width};
  --border-style: #{$border-style};

  --highlight-color: #{$mark-color-dark};
  --highlight-bg: #{$mark-bg-dark};
}
